body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

/*********** BACKGROUND CONTAINER **********/

#background-container{
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}


/************ LEFTSIDE CONTAINER ************/
.leftside-container{
    position: relative;
    background-color: #f4f4f4;
    border-radius: 15px;
    min-width: 235px;
    height: 95%;
    margin-left: 20px;
    align-self: center;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

/*User Profile*/
div#user-img{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
}
div#user-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-info{
    display: flex;
    margin-top: 0px;
}
.name-setting-container{
    position: relative;
    padding-left: 7px;
    display: flex;
}
.username{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color:#202020;
    align-self: center;
    margin-top: 34px;
    margin-left: 5px;
    margin-bottom: 3px;
}
i.fa-solid.fa-angle-down.drop-down-menu-icon{
    align-self: center;
    padding: 34px 5px 0px 5px;
    color:#676b6f;
    cursor: pointer;
}
i.fa-solid.fa-angle-down.drop-down-menu-icon:hover{
    color:rgb(102, 90, 145);
}
.drop-down-container{
    position: absolute;
    background-color: white;
    border-radius: 12px;
    width: 153px;
    left: 4px;
    top: 54px;
    box-shadow: 0px 0px 7px -2px rgba(172,172,172);
    display: none; 
}
.drop-down-container ul{
    padding: 0px;
    margin: 16px 16px 16px 10px;
}
ul li.menu-settings{
    font-size: 13px;
    color: #2C2C2C;
    margin-bottom: 16px;
    cursor: pointer;
    padding: 4px 3px;
}
ul li.sign-out{
    color:#BA5E32;
}
ul li.menu-settings:hover{
    background-color: rgba(229, 229, 229, 0.397);
    border-radius: 3px;
}
i.fa-gear, i.fa-circle-question, i.fa-comment-dots, i.fa-arrow-right-from-bracket{
    padding-right: 7px;
}

/*** Socials of user profile*/
/*
.socials-icons{
    padding-left:16px;
}


i.fa-envelope, i.fa-square-twitter, i.fa-facebook{
    padding-right: 2px;
    cursor: pointer;
    font-size: 14px;
}
i.fa-envelope:hover, i.fa-square-twitter:hover, i.fa-facebook:hover{
    color:rgb(102, 90, 145);
} */


/****** Type of To-do List Item ******/
.menu-section{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
p.taskCount, p.eventCount{
    color:#2C2C2C;
    margin-bottom: 6px;
}
.task{
    margin-top: 45px;
}
.events{
    margin-top: 20px;
}
.categories{
    margin-top: 50px;
}

/********** Counter ***********/
.taskCount{
    margin-left: 3px;
    padding: 3px 7px;
    color: #2C2C2C;
    font-size: 15px;
    border: 1px solid #BA5E32;
    border-radius: 45px;
}
.eventCount{
    margin-left: 3px;
    padding: 3px 7px;
    color: #2C2C2C;
    font-size: 15px;
    border: 1px solid #BA5E32;
    border-radius: 45px;
}

/**** Category inputbox with icon ****/
.category-list-container{
    max-height: 135px;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    margin-right: -13px;
}
#category-input-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    width: 95%;
}
#input-category{
    height: 35px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
   /* text-transform: capitalize;*/
}
#category-input-container input[type=text]{
    border-bottom: none;
    margin-left: 8px;
}

#errorMessage{
    position: absolute;
    top: 40px;
    left: 34px;
    font-size: 12px;
    color: rgb(202, 50, 50);
}
.fa-circle-plus{
    font-size: 25px;
    display: flex;
    align-self: center;
    color: #BA5E32;
    box-shadow: 0px 0px 3px 1px rgb(215, 215, 215);
    border-radius: 50%;
}
#category-input-container i.fa-solid.fa-circle-plus:hover{
    color: #F6C15C;
    cursor: pointer;
}
/*** Template literal - In JS file ***/
.new-category{
    font-family: 'Inter', sans-serif;
    color:#2C2C2C;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 10px;
    padding: 4px 4px;
    position: relative;

}
.categories i.fa-solid.fa-xmark{ 
    position: absolute;
    left: 158px;
    top: 4px;
    font-size: 17px;
}
.categories i.fa-solid.fa-xmark:hover{
    cursor: pointer;
}
.fa-solid.fa-xmark.categories-xmark-icon{
    color: transparent;
}
.fa-solid.fa-xmark.visible{
    color: #999999;
}




/************************** MIDDLE CONTAINER *********************/
.middle-container{
    position: relative;
    background-color: white;
    width: 100%;
    height: 95%;
    align-self: center;
 
}
.middle-container.screen-size-40{ /*works with JS*/
    width: 40%
}
.top-container{
    position: relative;
    height: 80px;
    border-bottom: 1px solid rgb(227, 224, 224);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

/*****Arrow***/
.arrow-icon{
    position: relative;
    flex-grow: 2;
    text-align: center;
    height: 50px;
    cursor: pointer;
}
.date-arrow{
    color: #202020;
    position: absolute;
    top: 53%; /*I can change the vertical alignment later*/
    transform: translateY(-53%);
}
.date-arrow:hover{
    color: #999999; 
    box-shadow: 0px 0px 3px 1px rgba(172,172,172);
    border-radius: 50%;
    padding: 4px 7px;
}
.fa-chevron-left{
    left: 55%;
}
.fa-chevron-right{
    right: 55%;
}

/****Current date above to-do list****/
#date-container{
    width: 300px;
    text-align: center;
}
#day-of-the-week{
    color:#202020;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 5px;
}
#currentDate{
    color:#666666;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 4px;
}

/****Preview of to-do list****/
.mid-container{
    position: relative;
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
}

ul {
    position: relative;
    list-style: none;
    margin-top: 40px;
}
ul#todo-List{
    padding: 0px;
}

/***Template Literal in JS***/
ul li{ 
    display: flex;
    color: #2C2C2C;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin-bottom: 25px;
    width: 100%;  
    align-items: center; 
    position: relative;  
}
li.list-item{
    margin-bottom: 10px;;
}

/*checkbox next to list*/
.container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12;
    cursor: pointer;
    user-select: none;
}
.container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark{
    position: absolute;
    top: -9px;
    left: 0;
    height: 16px;
    width: 17px;
    background-color: transparent;
    border: 1px solid #666666;
    border-radius: 50%;
}
.container:hover input ~ .checkmark{
    background-color: rgb(227, 224, 224);
}
.container input:checked ~ .checkmark{
    background-color: #BA5E32;
}
.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~
.checkmark:after{
    display: block;
}
.container .checkmark:after{
    left: 5px;
    top: 0px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/*Arrow next to each to-do list*/
i.list-arrow{
    position: absolute;
    right: 14px;
    font-size: 17px;
    cursor: pointer;
}
p.list-details{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 40px;
    padding-left: 36px;
    font-size: 14px;
    color:#666666;
}
.color-box{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 3px;
    border-radius: 50%;
}
 
/*********Bottom of main container**********/
.bottom-container{
    border-top: 1px solid rgb(227, 224, 224);
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#add-item{
    color:#BA5E32;
    margin-right: 25px;
}




/************************* FULL VIEW OF LIST ITEM **********************/
.list-detail-container{
    position: relative;
    background-color: #f4f4f4;
    border-radius: 15px;
    width: 40%;
    height: 95%;
    margin-right: 20px;
    align-self: center;
    display: none;
}
.display-list-detail-container{  /*Works with javaScript*/
    display: inline-block;
}

#exit-detail-page{
    height: 20px;
    position: absolute;
    right: 50px;
}
i.exit-full-view{
    font-size:32px;
    cursor: pointer;
}
i.exit-full-view:hover{
   color:#F6C15C;
}

.list-container{
    height: 100%;
}

ul#full-list-view{
    padding: 0;
    margin: 30px 25px 0px 25px;
    height: 95%;
}
ul li#todo-entry{
    display: flex;
    flex-direction: column;
    align-items: unset;
    justify-content: space-between;
    height: 100%;
}
p#type-of-List{
    display: inline;
    padding: 4px 12px;
    border: 1px solid #BA5E32;
    background-color: transparent;
    color: #2C2C2C;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

p.entry-date-category-color{
    margin-top: 30px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color:#2C2C2C;
}

h2#entry-title{
    margin-bottom: 0px;
    font-family: 'Inter', sans-serif;
    color:#202020;
    
}
p#entry-description{
    font-size: 15px;
    color:#2C2C2C;
    border:1px solid rgb(227, 224, 224);
    border-radius: 5px;
    width: 100%;
    min-height: 200px;
    padding: 5px;
    box-sizing: border-box; 
    margin-top: 6px; 
}
p#entry-location{
    font-size: 15px;
    color:#2C2C2C;
}
span.location{
    border:1px solid rgb(227, 224, 224);
    font-size: 15px;
    color:#2C2C2C;
    border-radius: 5px;
    min-height: 30px;
    width: 100%;
    align-items: center;

}

.delete-edit-btn-container{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.delete-btn{
    padding: 10px 20px;
    width: 35%;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    margin-right: 7px;
    border: 1px solid #BA5E32;
    background-color:#BA5E32;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.delete-btn:hover{
    background-color: #F6C15C;
    border: 1px solid #F6C15C;
    color:white;
}



/******************** NEW TASK/EVENT FORM CONTAINER ******************/
.new-todo-item-container{
    position: relative;
    background-color: #f4f4f4;
    border-radius: 15px;
    width: 40%;
    min-width: 150px;
    height: 95%;
    margin-right: 20px;
    align-self: center;
    display:none;
}
.display{ /*Works with JS*/
    display:inline-block;
}

#exit-new-entry-form{
    height: 20px;
    position: absolute;
    right: 50px;
}
i#exit-icon{
    font-size:32px;
    cursor: pointer;
}
i#exit-icon:hover{
    color:#F6C15C;
}

#todo-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.top-section{
    margin: 53px 20px 20px 20px;
}
.top-section input[type=text]{
    border-bottom: none;
}
#title-input{
    width: 100%;
    height: 35px;
    /*box-sizing: border-box; /* Ensure padding and border are included in the width */
    /*margin-bottom: 18px; */
    border-radius: 5px;
}
.titleErrorMessage{
    font-size: 12px;
    color: rgb(202, 50, 50);
}

/*Task and Event button*/
#event-option, #task-option, .clear-btn, .save-btn{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border-radius: 5px;
}
#event-option{
    display: inline;
    padding: 4px 8px;
    margin: 0;
    background-color: #BA5E32;;
    color: white;
    text-align: center;
    text-decoration: none;
    border: 1px solid #BA5E32;
}
#task-option{
    display: inline;
    padding: 4px 12px;
    margin: 0px 0px 0px px;
    background-color: #BA5E32;;
    color: white;
    text-align: center;
    text-decoration: none;
    border: 1px solid #BA5E32;
}
#task-option:hover, #event-option:hover{
    background-color: #F6C15C;
    color: white;
    border: 1px solid #F6C15C;
    box-shadow: 0px 1px 20px -7px rgba(0,0,0,0.56);
    cursor: pointer;
}
p#task-option.clicked, p#event-option.clicked{   /*You will need this for the javaScript section to change the color of the selected icon*/
    background-color: #F6C15C;
    color: white;
    border: 1px solid #F6C15C;
}
.typeErrorMessage{
    font-size: 12px;
    color: rgb(202, 50, 50);
    padding-top: 10px;
}

/*Date picker*/
.due-date-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 18px 0px 14px 0px;
}
.menu-options{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color:#666666;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px 4px;
    cursor: pointer;
    position: relative;
}
p.menu-options.due-date{
    align-self: center;
}
input[type=date]{
    font-family:'Inter', sans-serif;
    font-size: 15;
    padding: 4px 3px;
}
i.fa-regular.fa-clock{
    padding-left: 2px;
    padding-right: 10px;
}

/*Text area box*/
#input-dedscription{
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}
textarea {
    color: #2C2C2C;
}
input[type=text]{
    border: none;
    /*border-bottom: 1px solid rgb(102, 90, 145);*/
    color: #2C2C2C; 
    outline: none;
    width: 75%;
    height: 20px;
    font-size: 15px;
}

::placeholder{
    color: #999999; 
} 

/*Category picker*/
.select-category-container{
    margin: 0px 20px 0px 20px;
}
i.fa-solid.fa-layer-group{
    padding: 0 9px 0 3px;
    color: #666666;
}
#categories-option{
    font-family:'Inter', sans-serif;
    font-size: 15px;
    padding: 4px 3px;
}
.hideCategoryBox{ /*this works with JS*/
    display: none;
}

/**Color picker*/
.color-picker-container{
    margin: 17px 20px 12px 20px;
}
.color-picker-container p{
    display: inline;
    position: relative;
    padding-right: 5px;
    margin: 0px;
    font-size: 15px;
}
i.fa-solid.fa-paintbrush{
    padding-left: 3px;
    margin-right: 13px;
    color: #666666;
}
input#color-options{
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: -8px;
  right: -34px;
  box-shadow: 0px 1px 13px -7px rgba(0,0,0,0.56);
  border-radius: 50%;
}
input#color-options::-webkit-color-swatch {
    border-radius: 15px;
    border: none;
  }
input#color-options::-moz-color-swatch {
    border-radius: 15px;
    border: none;
  }

/*Location*/
i.fa-solid.fa-location-dot{
    padding-left: 3px;
    padding-right: 14px;
    align-self: center;
}
.add-location-container{
    margin: 17px 20px 0px 20px;
 }
 #addressInput{
    padding: 6px 3px;
    border-radius: 5px;
    width: 60%;
    margin-right: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
 }
 .location{
    display: flex;
    flex-direction: row;
    margin: 0px
}
#map{
    display: none;
}

/**location buttons**/
.map-btn{
    margin-left: 3px;
    border: 1px solid #BA5E32;
    background-color: #BA5E32;;
    color: white;
    padding: 5px 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 23px -7px rgba(145, 144, 144, 0.67);
}
.map-btn:hover{
    box-shadow: 0px 1px 19px -5px rgba(145, 144, 144);
}
i.fa-solid.fa-map-location{
    align-self: center;
}

/*Save and Delete button*/
.delete-save-btn-container{
    display: flex;
    justify-content: center;
    margin-bottom: 25px; 
}
.clear-btn{
    padding: 10px 20px;
    width: 45%;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    margin-right: 7px;
    margin-left: 3px;;
    border: 1px solid #BA5E32;
    background-color: #BA5E32;
    color: white;
    cursor: pointer;
}
.save-btn{
    padding: 10px 27px;
    width: 45%;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    margin-left: 7px;
    margin-right: 3px;;
    border: 1px solid #BA5E32;
    background-color: #BA5E32;
    color: white;
    cursor: pointer;
}
.clear-btn:hover, .save-btn:hover{
    background-color: #F6C15C;
    color: white;
    border: 1px solid #F6C15C;
   /* box-shadow: 0px 2px 16px -6px rgba(0,0,0,0.75); */
   box-shadow: 0px 1px 23px -7px rgba(142, 142, 142, 0.67);
}

/****Open Form****/
.fa-plus{
    margin-left: 10px;
    padding: 5px;
}
.fa-plus:hover{
    padding: 4px;
    border-radius: 50%;
    border: 1px solid #F6C15C;
    background-color:#F6C15C;
    color: white; 
}

/***close form button***/
.fa-xmark{
    position: absolute;
    top: 6px;
    left: 10px;
    font-size: 13px;
    padding: 2px 4px;
    color:#999999;
}
/*
.fa-xmark:hover{
    padding: 2px 4px;
    border-radius: 50%;
    background-color:rgb(102, 90, 145);
    color: white;
    
}
*/


/********* EDIT TASK/EVENT CONTAINER 
.todo-edit-container{
    position: relative;
    background-color: #f4f4f4;
    border-radius: 15px;
    width: 40%;
    height: 95%;
    margin-right: 20px;
    align-self: center;
    display: none;
}
*/



/****Send button****/

/*
.fa-angles-right{
    color:rgb(102, 90, 145);
    padding: 4px 6px;
    text-align:end;
    position: inherit;
    left: 295px;
    bottom: 16px;
}

.fa-angles-right:hover{
    padding: 4px 6px;
    border-radius: 6px;
    background-color:rgb(102, 90, 145);
    color: white;

} */

