body{
    margin: 0;
    margin-top: 50px;
    padding: 0;
    box-sizing: border-box;
    background-color: peachpuff; 
    font-family: 'Inter', sans-serif;
}

/*********** BACKGROUND CONTAINER **********/
#background-container{
    background-color: white;
    border-radius: 15px;
    width: 90%;
    height: 90vh;
    margin: 0 auto;

    display: flex;
}


/************ LEFTSIDE CONTAINER ************/
.leftside-container{
    position: relative;
    background-color: #f4f4f4;
    border-radius: 15px;
    min-width: 235px;
    height: 95%;
    margin-left: 20px;
    align-self: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.app-title{
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(102, 90, 145);
}

.menu-section{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
.menu-options{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color:#676b6f;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px 4px;
    cursor: pointer;
    position: relative;
}

.new-category{
    font-family: 'Inter', sans-serif;
    color:#676b6f;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 10px;
    padding: 4px 4px;
    position: relative;
}
.categories i.fa-solid.fa-xmark{  /*I might have to turn the p tag into a ul tag*/
    position: absolute;
    left: 158px;
    top: 4px;
    font-size: 17px;
}
.categories i.fa-solid.fa-xmark:hover{
    cursor: pointer;
}



h3{
    color:#676b6f;
    margin-bottom: 6px;
}
.task{
    margin-top: 45px;
}

i.fa-solid.fa-angles-right{
    padding-left: 0;
    margin-right:5px;
}
i.fa-solid.fa-list{
    margin-right: 5px;
}

.events, .categories{
    margin-top: 50px;
}
.add-category-btn{
    font-family: 'Inter', sans-serif;
    padding: 8px 8px;
    border-radius: 15px;
    margin-top: 10px;
    display: flex;
    align-self: center;
}
.fa-circle-plus{
    font-size: 25px;
    display: flex;
    align-self: center;
    box-shadow: 0px 0px 3px 1px rgba(172,172,172);
    border-radius: 50%;
}
.category-list-container{
    max-height: 135px;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    margin-right: -13px;
}

#category-input-container{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    width: 95%;
}
#category-input-container i.fa-solid.fa-circle-plus:hover{
    color: rgb(102, 90, 145);
    cursor: pointer;
}

#input-category{
    height: 35px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
   /* text-transform: capitalize;*/
}
#category-input-container input[type=text]{
    border-bottom: none;
    margin-left: 8px;
}


/************* FULL VIEW OF LIST ITEM **********/
.list-detail-container{
    position: relative;
    background-color: #f4f4f4;
    border-radius: 15px;
    width: 40%;
    height: 95%;
    margin-right: 20px;
    align-self: center;
    display: none;
}
.display-list-detail-container{
    display: inline-block;
}

.list-container{
    height: 100%;
}

ul#full-list-view{
    padding: 0;
    margin: 30px 25px 0px 25px;
    height: 95%;
}
ul li#todo-entry{
    display: flex;
    flex-direction: column;
    align-items: unset;
    justify-content: space-between;
    height: 100%;
}
p#type-of-List{
    display: inline;
    padding: 4px 12px;
    background-color: rgb(102, 90, 145);
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

p.entry-date-category-color{
    margin-top: 30px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color:#676b6f;
}

h2#entry-title{
    margin-bottom: 0px;
    font-family: 'Inter', sans-serif;
    color:rgb(102, 90, 145);
    font-weight: bold;
}

p#entry-description{
    font-size: 17px;
    color:#676b6f;
    border:1px solid rgba(140, 127, 181, 0.497);
    border-radius: 5px;
    width: 100%;
    min-height: 200px;
    padding: 5px;
    box-sizing: border-box;
    
}

p#entry-location{
    font-size: 17px;
    color:#676b6f;
}

.delete-edit-btn-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.delete-btn{
    padding: 10px 20px;
    width: 45%;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    margin-right: 7px;
    border: 1px solid rgb(102, 90, 145);
    border-radius: 5px;
    color: rgb(102, 90, 145);
    cursor: pointer;
}
.edit-btn{
    padding: 10px 27px;
    width: 45%;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    margin-left: 7px;
    border: 1px solid rgb(102, 90, 145);
    border-radius: 5px;
    color: rgb(102, 90, 145);
    cursor: pointer;
}

.delete-btn:hover, .edit-btn:hover{
    background-color: rgb(102, 90, 145);
    color:white;
}



/******** NEW TASK/EVENT CONTAINER ***********/
.new-todo-item-container{
    position: relative;
    background-color: #f4f4f4;
    border-radius: 15px;
    width: 40%;
    min-width: 150px;
    height: 95%;
    margin-right: 20px;
    align-self: center;
    display:none;
}
.display{
    display:inline-block;
}

#exit-form{
    height: 20px;
    position: absolute;
    right: 50px;
    
}
i#exit-icon{
    font-size:32px;
}
#todo-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.top-section{
    margin: 53px 20px 20px 20px;
}
#title-input{
    width: 100%;
    height: 35px;
    /*box-sizing: border-box; /* Ensure padding and border are included in the width */
    margin-bottom: 18px;
    border-radius: 5px;
}
#input-dedscription{
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    
}
.top-section input[type=text]{
    border-bottom: none;
}

#event-option, #task-option, .clear-btn, .save-btn{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border-radius: 5px;
}
#event-option{
    display: inline;
    padding: 4px 8px;
    margin: 0;
    background-color: transparent;
    color: rgb(102, 90, 145);
    text-align: center;
    text-decoration: none;
    border: 1px solid rgb(102, 90, 145);
}
#task-option{
    display: inline;
    padding: 4px 12px;
    margin: 0px 0px 0px px;
    background-color: transparent;
    color: rgb(102, 90, 145);
    text-align: center;
    text-decoration: none;
    border: 1px solid rgb(102, 90, 145);
}
#task-option:hover, #event-option:hover{
    background-color: rgb(102, 90, 145);
    color: white;
    border: 1px solid rgb(102, 90, 145);
    box-shadow: 0px 1px 20px -7px rgba(0,0,0,0.56);
    cursor: pointer;
}
 
p#task-option.clicked, p#event-option.clicked{   /*You will need this for the javaScript section to change the color of the selected icon*/
    background-color: rgb(102, 90, 145);
    color: white;
    border: 1px solid rgb(102, 90, 145);
}

.due-date-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 18px 0px 14px 0px;
}
p.menu-options.due-date{
    align-self: center;
}


input[type=date]{
    font-family:'Inter', sans-serif;
    font-size: 15;
    padding: 4px 3px;
}

#categories-option{
    font-family:'Inter', sans-serif;
    font-size: 15px;
    padding: 4px 3px;
}

.color-picker-container{
    margin: 17px 20px 12px 20px;
}

.color-picker-container p{
    display: inline;
    position: relative;
    padding-right: 5px;
    margin: 0px;
    font-size: 15px;
}
input#color-options{
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: -8px;
  right: -34px;
  box-shadow: 0px 1px 13px -7px rgba(0,0,0,0.56);
  border-radius: 50%;
}
input#color-options::-webkit-color-swatch {
    border-radius: 15px;
    border: none;
  }
input#color-options::-moz-color-swatch {
    border-radius: 15px;
    border: none;
  }

.select-category-container, 
.add-attachment-container, 
.add-image-container {
    margin: 0px 20px 0px 20px;
}
i.fa-solid.fa-layer-group{
    padding: 0 9px 0 3px;
}
.hideCategoryBox{
    display: none;
}

i.fa-solid.fa-paintbrush{
    padding-left: 3px;
    margin-right: 13px;
}
i.fa-solid.fa-location-dot{
    padding-left: 3px;
    padding-right: 14px;
    align-self: center;
}
i.fa-solid.fa-paperclip{
    padding-left: 3px;
    padding-right: 11px;
}
i.fa-solid.fa-camera{
    padding-left: 2px;
    padding-right: 10px;
}
i.fa-regular.fa-clock{
    padding-left: 2px;
    padding-right: 10px;
}

.add-location-container{
    margin: 17px 20px 0px 20px;
 }
 #addressInput{
    padding: 6px 3px;
    border-radius: 5px;
    width: 60%;
    margin-right: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
 }

/**BUTTONS**/
.location{
    display: flex;
    flex-direction: row;
    margin: 0px
}
.map-btn{
    margin-left: 3px;
}
#map{
    display: none;
}
i.fa-solid.fa-map-location{
    align-self: center;
}

/*Save and Delete button*/
.delete-save-btn-container{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    
}

.clear-btn{
    padding: 10px 20px;
    width: 45%;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    margin-right: 5px;
    border: 1px solid rgb(102, 90, 145);
    color: rgb(102, 90, 145);
    cursor: pointer;
 
}
.save-btn{
    padding: 10px 27px;
    width: 45%;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    margin-left: 5px;
    border: 1px solid rgb(102, 90, 145);
    color: rgb(102, 90, 145);
    cursor: pointer;
}

.clear-btn:hover, .save-btn:hover{
    background-color: rgb(102, 90, 145);
    color: white;
    border: 1px solid rgb(102, 90, 145);
   /* box-shadow: 0px 2px 16px -6px rgba(0,0,0,0.75); */
   box-shadow: 0px 1px 23px -7px rgba(0,0,0,0.67);

}



/********* EDIT TASK/EVENT CONTAINER *********/
.todo-edit-container{
    position: relative;
    background-color: #f4f4f4;
    border-radius: 15px;
    width: 40%;
    height: 95%;
    margin-right: 20px;
    align-self: center;
    display: none;
}





/*********** MIDDLE CONTAINER *********/
.middle-container{
    position: relative;
    background-color: white;
    width: 77%; /*Its not reponsive but it works for this one*/
    margin: 0 auto; /*centers div*/
    height: 95%;
    align-self: center;
 
}
.middle-container.screen-size-40{
    width: 40%
}


.top-container{
    position: relative;
    height: 80px;
    border-bottom: 1px solid rgb(227, 224, 224);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

/*****Arrow***/
.arrow-icon{
    position: relative;
    flex-grow: 2;
    text-align: center;
    height: 50px;
    cursor: pointer;
}


.date-arrow{
    color: rgb(102, 90, 145); 
    position: absolute;
    top: 53%; /*I can change the vertical alignment later*/
    transform: translateY(-53%);
}
.date-arrow:hover{
    color: rgb(102, 90, 145); 
    box-shadow: 0px 0px 3px 1px rgba(172,172,172);
    border-radius: 50%;
    padding: 4px 7px;
}

.fa-chevron-left{
    left: 55%;
}
.fa-chevron-right{
    right: 55%;
}
   
/****Date********/

#date-container{
    width: 300px;
    text-align: center;
}
#day-of-the-week{
    color:rgb(102, 90, 145);
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 5px;
}
#currentDate{
    color:rgb(155, 143, 202);
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 4px;
}

/******MIDDLE INNER CONTAINER******/
.mid-container{
    position: relative;
    height: 100%;
    overflow: hidden;
    margin-left: 25px;
    margin-right: 25px;
}

/*********LIST**********/

ul {
    position: relative;
    list-style: none;
    margin-top: 25px;
}

ul#todo-List{
    padding: 0px;
}
li.list-item{
    margin-bottom: 10px;;
}

ul li{
    display: flex;
    color: rgb(155, 143, 202);
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin-bottom: 25px;
    width: 100%;  
    align-items: center; 
    position: relative;  
   
}


.checkbox{
    margin-left: 9px;
    margin-right: 13px;
    height: 15px;
    width: 21px;
    align-self: center;
    cursor: pointer;
}
i.list-arrow{
    position: absolute;
    right: 14px;
    font-size: 17px;
    cursor: pointer;
}

p.list-details{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 45px;
    font-size: 12px;
    color:#676b6f;
}
.color-box{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 3px;
    border-radius: 50%;
}
 

 /*********CHECKBOX*********/

 .regular-checkbox{
    -webkit-appearance: none; 
    /*used in css syntax for rendering content in Safari and Chrome browsers
    firefox is gecko
    safari is webkit 
    chrome is blink (a fork of webkit) */
    border: 1px solid rgb(102, 90, 145);
    width: 13px;
    height:13px;
    border-radius: 2px;
    box-shadow:0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    margin-right: 5px;
    
    
 }
 .regular-checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(140, 127, 181, 0.497);
}
.regular-checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #c5c8ca;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 15px;
	position: relative;
	top: -4px;
	color: rgb(102, 90, 145);
}





/******lower container******/
.bottom-container{
    border-top: 1px solid rgb(227, 224, 224);
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

#tasks{
    color:rgb(155, 143, 202);
    margin-left: 30px;
}

#add-item{
    color:rgb(102, 90, 145);
    margin-right: 25px;
}


/**** FORM ****/

textarea {
    color: rgb(155, 143, 202);
}
input[type=text]{
    border: none;
    /*border-bottom: 1px solid rgb(102, 90, 145);*/
    color: rgb(155, 143, 202); */
    outline: none;
    width: 75%;
    height: 20px;
    font-size: 15px;
    
}
::placeholder{
    color: rgb(155, 143, 202);
    
}



/*********Open Form************/
.fa-plus{
    margin-left: 10px;
    padding: 5px;
    

}

.fa-plus:hover{
    padding: 4px;
    border-radius: 50%;
    border: 1px solid rgb(102, 90, 145);
    background-color:rgb(102, 90, 145);
    color: white;
    
}

/****close form button*****/
.fa-xmark{
    position: absolute;
    top: 6px;
    left: 10px;
    font-size: 13px;
    padding: 2px 4px;
    color:rgba(140, 127, 181, 0.497);
}

.fa-xmark:hover{
    padding: 2px 4px;
    border-radius: 50%;
    background-color:rgb(102, 90, 145);
    color: white;
    
}

/****Send button****/

/*
.fa-angles-right{
    color:rgb(102, 90, 145);
    padding: 4px 6px;
    text-align:end;
    position: inherit;
    left: 295px;
    bottom: 16px;
}

.fa-angles-right:hover{
    padding: 4px 6px;
    border-radius: 6px;
    background-color:rgb(102, 90, 145);
    color: white;

} */

