body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

/*********** BACKGROUND CONTAINER **********/

#background-container{
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}


/************ LEFTSIDE CONTAINER ************/
.leftside-container{
    position: relative;
    background-color: #f4f4f4;
    border-radius: 15px;
    min-width: 235px;
    height: 97%;
    margin-left: 12px;
    align-self: center;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #1c1c1c;
}

/*User Profile*/
div#user-img{
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
}
div#user-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.user-info{
    display: flex;
    margin-top: 0px;
}
.settings-container{
    position: relative;
    padding-left: 7px;
    display: flex;
}
.username{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color:#202020;
    font-weight: 500;
    align-self: center;
    margin-top: 34px;
    margin-left: 5px;
    margin-bottom: 3px;
}
i.fa-solid.fa-angle-down.drop-down-menu-icon{
    align-self: center;
    padding: 34px 5px 0px 5px;
    color:#999999;
    cursor: pointer;
    display: none;
}

i.up-arrow-icon{
    align-self: center;
    padding: 34px 5px 0px 5px;
    color:#999999;
    cursor: pointer;
    display: none; 
}

i.up-arrow-icon.active,
i.fa-solid.fa-angle-down.drop-down-menu-icon.active{
    display: block;
}

i.fa-solid.fa-angle-down.drop-down-menu-icon:hover,
i.up-arrow-icon:hover{
    color:#F6C15C;
}

.drop-down-container{
    position: absolute;
    background-color: white;
    border-radius: 12px;
    width: 144px;
    padding: 6px;
    left: 4px;
    top: 54px;
    box-shadow: 0px 0px 7px -2px rgba(172,172,172);
    box-sizing: border-box;
    display: none; 
}
.drop-down-container ul{
    padding: 0px;
    margin: 0px;
}
ul li.menu-settings{
    font-size: 13px;
    color: #1c1c1c;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
ul li.sign-out{
    color:#BA5E32;
}
ul li.menu-settings:hover{
    background-color: rgba(229, 229, 229, 0.397);
    border-radius: 3px;
}
i.fa-gear, i.fa-circle-question, i.fa-comment-dots, i.fa-arrow-right-from-bracket{
    padding-right: 7px;
    color: #666666;
}

/*** Socials of user profile*/
/*
.socials-icons{
    padding-left:16px;
}


i.fa-envelope, i.fa-square-twitter, i.fa-facebook{
    padding-right: 2px;
    cursor: pointer;
    font-size: 14px;
}
i.fa-envelope:hover, i.fa-square-twitter:hover, i.fa-facebook:hover{
    color:rgb(102, 90, 145);
} */


/****** Type of To-do List Item ******/
.menu-section{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
p.taskCount, p.eventCount{
    color:#1c1c1c;
    margin-bottom: 6px;
}
.task{
    margin-top: 45px;
}
.events{
    margin-top: 20px;
}
.categories{
    margin-top: 50px;
}
h3{
    color: #202020;
    font-weight: 500;
    margin-bottom: 10px;
}

/********** Counter ***********/
.taskCount{
    margin-left: 3px;
    padding: 2px 6px;
    color: #1c1c1c;
    font-size: 12px;
    border: 1px solid #BA5E32;
    border-radius: 45px;
}
.eventCount{
    margin-left: 3px;
    padding: 2px 6px;
    color: #1c1c1c;
    font-size: 12px;
    border: 1px solid #BA5E32;
    border-radius: 45px;
}


/**** Category inputbox with icon ****/
.category-list-container{
    max-height: 157px;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    margin-right: -13px;
}
#category-input-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    width: 95%;
}
#input-category{
    height: 35px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;

}
#category-input-container input[type=text]{
    border-bottom: none;
    margin-left: 8px;
}

#errorMessage{
    position: absolute;
    top: 40px;
    left: 34px;
    font-size: 12px;
    color: rgb(202, 50, 50);
}
.fa-circle-plus{
    font-size: 25px;
    display: flex;
    align-self: center;
    color: #BA5E32;
    box-shadow: 0px 0px 3px 1px rgb(215, 215, 215);
    border-radius: 50%;
}
#category-input-container i.fa-solid.fa-circle-plus:hover{
    color: #F6C15C;
    cursor: pointer;
}
/*** Template literal - In JS file ***/
.new-category{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color:#1c1c1c;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 10px;
    padding: 4px 4px;
    position: relative;

}
.categories i.fa-solid.fa-xmark{ 
    position: absolute;
    left: 158px;
    top: 4px;
    font-size: 17px;
}
.categories i.fa-solid.fa-xmark:hover{
    cursor: pointer;
}
.fa-solid.fa-xmark.categories-xmark-icon{
    color: transparent;
}
.fa-solid.fa-xmark.visible{
    color: #999999;
}




/************************** MIDDLE CONTAINER *********************/
.middle-container{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    align-self: center;
 
}
.middle-container.screen-size-40{ /*works with JS*/
    width: 45%
}
.top-container{
    position: relative;
    height: 80px;
    flex-grow: 1;
    border-bottom: 1px solid rgb(227, 224, 224);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

/*****Arrow***/
.arrow-icon{
    position: relative;
    flex-grow: 2;
    text-align: center;
    height: 50px;
    cursor: pointer;
}
.date-arrow{
    color: #202020;
    position: absolute;
    top: 53%; /*I can change the vertical alignment later*/
    transform: translateY(-53%);
}
.date-arrow:hover{
    color: #F6C15C; 
}
.fa-chevron-left{
    left: 55%;
}
.fa-chevron-right{
    right: 55%;
}

/****Current date above to-do list****/
#date-container{
    width: 300px;
    text-align: center;
}
#day-of-the-week{
    color:#202020;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 5px;
}
#currentDate{
    color:#666666;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-top: 4px;
}

/****Preview of to-do list****/
.mid-container{
    position: relative;
    flex-direction: 2;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-color: red;
    padding-left: 10%;
    padding-right: 10%;
    height: 82%
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }


ul#todo-List {
    position: relative;
    list-style: none;
    margin: 0px;
    padding: 20px 0px 20px;
}


/***Template Literal in JS***/
ul li{ 
    display: flex;
    color: #1c1c1c;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    width: 100%;   
    position: relative;  
}

li.list-item{
    margin-bottom: 20px;;
    flex-direction: column;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 3px;
}

li.list-item:hover{
    background-color: rgba(229, 229, 229, 0.397);
    border-radius: 15px;
}
.row-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 24px;
}
.input-container{
    display: flex;
}

/*checkbox next to list*/
.container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12;
    cursor: pointer;
    user-select: none;
}
.container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark{
    position: absolute;
    top: -6px;
    left: 10px;
    height: 12px;
    width: 12px;
    background-color: white;
    border: 1px solid #BA5E32;
    border-radius: 50%;
} /*Checkbox with a border called #BA5E32*/

.container:hover input ~ .checkmark{
    /*background-color: */
    height: 15px;
    width: 15px;
    top: -8px;
} /*Circle filled with color grey when hover*/

.container input:checked ~ .checkmark{
    background-color: #BA5E32;
}
.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~
.checkmark:after{
    display: block;
}

.container:hover .checkmark:after{
    left: 5px;
    top: 3px;
}
.container .checkmark:after{
    left: 3px;
    top: 1px;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Subtask checkmark */
.subtask-checkmark{
    position: absolute;
    top: 10.5px;
    left: 10px;
    height: 10px;
    width: 10px;
    background-color: white;
    border: 1px solid #BA5E32;
    border-radius: 50%;
} /*Checkbox with a border called #BA5E32*/

.container:hover input ~ .subtask-checkmark{
    /*background-color: */
    height: 12px;
    width: 12px;
    top: 9px;
} /*Circle filled with color grey when hover*/

.container input:checked ~ .subtask-checkmark{
    background-color: #BA5E32;
}
.subtask-checkmark:after{
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~
.subtask-checkmark:after{
    display: block;
}

.container:hover .subtask-checkmark:after{
    left: 3.5px;
    top: 1.5px;
}
.container .subtask-checkmark:after{
    left: 2.5px;
    top: 0.5px;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.subtask-name{
    font-size: 13px;
    margin: 7px 0px;
}

.priority-selected{  /*move it*/
    padding-left: 10px;
}
/*
span.priority{
    font-size: 12px;
    padding: 3px 6px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid black;
}*/

/*Buttons*/
.editBtn,
.item-delete-Btn{
    background-color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 3px 6px;
    color: transparent;
    margin-left: 3px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    cursor: pointer;
}


.editBtn.visible,
.item-delete-Btn.visible{
    color: #BA5E32;
    background-color: white;
    border: 1px solid #BA5E32;
}
.editBtn.visible:hover,
.item-delete-Btn.visible:hover{
    background-color: #BA5E32;
    color: white;
}



p.list-details{
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 10px 0px 10px 43px;
    font-size: 12px;
    font-weight: 300;
    color:#666666;
}

.color-box{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 3px;
    border-radius: 50%;
}
 
/* Subtask UL, LI, and checkbox*/
ul.innerUl{
    margin: 0px;
    padding: 0x 5px 0px 51px;
}
ul.innerUl.hidden{
    display: none;
}
li.innerList{
    flex-direction: row;
}

/*********Bottom of main container**********/
.bottom-container{
    border-top: 1px solid rgb(227, 224, 224);
    flex-grow: 1;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#add-item{
    color:#BA5E32;
    margin-right: 25px;
}




/************************* FULL VIEW OF LIST ITEM **********************/
.list-detail-container{
    position: relative;
    background-color: #f4f4f4;
    border-radius: 15px;
    width: 45%;
    height: 97%;
    margin-right: 12px;
    align-self: center;
    display: none;
}
.display-list-detail-container{  /*Works with javaScript*/
    display: inline-block;
}

#exit-detail-page{
    height: 20px;
    position: absolute;
    right: 50px;
}
i.exit-full-view{
    font-size:25px;
    cursor: pointer;
}
i.exit-full-view:hover{
   color:#F6C15C;
}

.list-container{
    height: 100%;
}

ul#full-list-view{
    padding: 0;
    margin: 30px 25px 0px 25px;
    height: 95%;
}
ul li#todo-entry{
    display: flex;
    flex-direction: column;
    align-items: unset;
    justify-content: space-between;
    height: 100%;
}
p#type-of-List{
    display: inline;
    font-size: 19px;
    padding: 4px 12px;
    border: 1px solid #BA5E32;
    background-color: transparent;
    color: #1c1c1c;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

p.entry-date-category-color{
    margin-top: 30px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color:#2C2C2C;
}

h2#entry-title{
    margin-bottom: 0px;
    padding-top: 20px;
    font-family: 'Inter', sans-serif;
    color:#202020;
    font-size: 23px;
    font-weight: 500;
    
}
p#entry-description{
    font-size: 14px;
    color:#2C2C2C;
    border:1px solid rgb(227, 224, 224);
    border-radius: 5px;
    width: 100%;
    min-height: 70px;
    padding: 5px;
    box-sizing: border-box; 
    margin-top: 6px; 
}

p#entry-subtasks{
    margin-top: 0px;
    margin-bottom: 1px;
    padding-left: 20px;
}
/*No subtask*/
p.no-subtasks{
    border:1px solid rgb(227, 224, 224);
    border-radius: 5px;
    margin: 0px 0px 40px 20px;
    min-height: 30px;
}
/*Subtask present*/
ul.ulSubtask{
    padding: 3px 0px 3px 3px;
    border:1px solid rgb(227, 224, 224);
    border-radius: 5px;
    margin-left: 20px;
 
}
ul li.todo-subtask{
    padding: 3px 0px;
    font-size: 14px;
}

span.todo-pritority{
    padding-left: 10px;
}



p#entry-location{
    font-size: 14px;
    color:#2C2C2C;
}
span.location{
    border:1px solid rgb(227, 224, 224);
    font-size: 15px;
    color:#2C2C2C;
    border-radius: 5px;
    min-height: 30px;
    width: 100%;
    align-items: center;

}

.delete-edit-btn-container{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.delete-btn{
    padding: 10px 20px;
    width: 35%;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    margin-right: 7px;
    border: 1px solid #BA5E32;
    background-color:#BA5E32;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.delete-btn:hover{
    background-color: #F6C15C;
    border: 1px solid #F6C15C;
    color:white;
}



/******************** NEW TASK/EVENT FORM CONTAINER ******************/
.new-todo-item-container{
    position: relative;
    background-color: #f4f4f4;
    border-radius: 15px;
    width: 35%;
    min-width: 150px;
    height: 97%;
    margin-right: 12px;
    align-self: center;
    display:none;
}
.display{ /*Works with JS*/
    display:inline-block;
}

#exit-new-entry-form{
    height: 20px;
    position: absolute;
    right: 50px;
}
i#exit-icon{
    font-size:25px;
    cursor: pointer;
}
i#exit-icon:hover{
    color:#F6C15C;
}

#todo-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.top-section{
    margin: 48px 20px 20px 20px;
    height: 350px;
}
.top-section input[type=text]{
    border-bottom: none;
}
#title-input{
    width: 100%;
    height: 35px;
    /*box-sizing: border-box; /* Ensure padding and border are included in the width */
    /*margin-bottom: 18px; */
    border-radius: 5px;
}
.titleErrorMessage{
    font-size: 12px;
    color: rgb(202, 50, 50);
}

/*Task and Event button*/
#event-option, #task-option, .clear-btn, .save-btn{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border-radius: 5px;
}
#event-option{
    display: inline;
    padding: 4px 8px;
    margin: 0;
    background-color: #BA5E32;;
    color: white;
    text-align: center;
    text-decoration: none;
    border: 1px solid #BA5E32;
}
#task-option{
    display: inline;
    padding: 4px 12px;
    margin: 0px 0px 0px px;
    background-color: #BA5E32;;
    color: white;
    text-align: center;
    text-decoration: none;
    border: 1px solid #BA5E32;
}
#task-option:hover, #event-option:hover{
    background-color: #F6C15C;
    color: white;
    border: 1px solid #F6C15C;
    box-shadow: 0px 1px 20px -7px rgba(0,0,0,0.56);
    cursor: pointer;
}
p#task-option.clicked, p#event-option.clicked{   /*You will need this for the javaScript section to change the color of the selected icon*/
    background-color: #F6C15C;
    color: white;
    border: 1px solid #F6C15C;
}
.typeErrorMessage{
    font-size: 12px;
    color: rgb(202, 50, 50);
    padding-top: 10px;
}

/*Date picker*/
.due-date-container{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin: 18px 0px 4px 0px;
}
.menu-options{
    color:#666666;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 4px;
    cursor: pointer;
    position: relative;
}
p.menu-options.due-date, p.time-container{
    align-self: center;
}
input[type=date]{
    font-family:'Inter', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 6px 3px;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 107px;
}

/*Time*/
.time-container{
    cursor: pointer;
    margin-left: 7px;
}
input[type=time]{
    font-family:'Inter', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 6px 3px;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 96px;
}




/*Text area box*/
#input-dedscription{
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    padding: 7px 2px 7px 2px;
    margin-bottom: 3px;
}
textarea {
    color: #2C2C2C;
    outline: none;
}
input[type=text]{
    border: none;
    color: #2C2C2C; 
    outline: none;
    width: 75%;
    height: 20px;
    font-size: 13px;
}

::placeholder{
    color: #999999;
} 

/*Subtask*/
#subtask-container{
    display: flex; 
    flex-direction: column;
    padding-left: 15px;
}
p.subtask-label{
    padding-left: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 300;
    cursor: pointer;
    color: #999999
}
p.subtask-label:hover{
    text-decoration: underline;
}

i.add-subtask-icon{
   color: #666666;
   align-self: center;
   font-size: 17px;
   padding: 0px;
}
i.add-subtask-icon:hover{
    padding: 0px;
    border-radius: 0%;
    border:none;
    background-color: transparent;
    color: #666666; 
}
.subtask-btn-container{
    display: flex;
}
#subtasks{
    display: flex;
    flex-direction: column;
    max-height: 120px;
    overflow: scroll;
}
.input-container{
    display: flex;
    align-items: center;
    padding-left: 9px;
}
/*Input container of subtask*/
input.input-subtask{
    width: 40%;
    margin: 5px 12px 5px 12px;
    border-radius: 5px;
    padding: 3px 2px;
}
i.remove-subtask-btn{
    cursor: pointer;
    color:#BA5E32;
}
i.remove-subtask-btn:hover{
    box-shadow: 0px 1px 4px rgb(149, 149, 149);
    border-radius: 8px;
}

/* Priority container*/
.select-selected{
    /*border: 1px solid black; */
    position: relative;
    padding: 1px 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #BA5E32;
    box-shadow: 0px 1px 2px rgb(149, 149, 149);
}
.select-selected:hover{
    box-shadow: 0px 1px 4px rgb(149, 149, 149);
}
/*flag icon*/
i.flag-icon{
    font-size: 13px;
    color: white; 
}

i.flag-priority{
    /*color:rgb(35, 35, 35);*/
    font-size: 13px;
} 

.selected-icon{
    color: white;
}
.select-selected > i {
    color: white;
}

.priority{
    padding-left: 6px;
}


.priority:hover{
    background-color: rgba(229, 229, 229, 0.397);
    border-radius: 5px;
}


/*dropdown container*/
.select-items{
    position: relative;
    background-color: white;
    border-radius: 5px;
    margin-top: 5px;
    text-align: left;
    padding: 4px;
    display: none;
}
.select-items.active{
    display: block;
    position: absolute;
    width: 55px; 
    cursor: pointer;
    z-index: 1;
    box-shadow: 0px 1px 4px rgb(149, 149, 149);
}


/*Category picker*/
.select-category-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0px;
}
i.fa-solid.fa-layer-group{
    padding: 0 9px 0 3px;
    color: #666666;
}
#categories-option{
    font-family:'Inter', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 4px 3px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.hideCategoryBox{ /*this works with JS*/
    display: none;
}

/**Color picker*/
.color-picker-container{
    margin-left: 10px;
    position: relative;
}
.color-picker-container p{
    display: inline;
    position: relative;
    padding-right: 5px;
    margin: 0px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}
i.fa-solid.fa-paintbrush{
    padding-left: 3px;
    margin-right: 13px;
    color: #666666;
}

#color-picker-btn{ /*button*/
    padding: 5px 5px 5px 5px;
    border: none;
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
}
#color-picker-popup-box{
    position:absolute;
    z-index: 1;
    width: 37px;
    height: 105px;
    left: 1px;
    top: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgb(149, 149, 149);
    padding: 5px 4px 2px 4px;
    flex-direction: column;
    flex-wrap: wrap;
    /*border: 1px solid black; */
}
p.color-option{
    width: 12px;
    height: 17px;
    border-radius: 50%;
    margin-right: 3px;
    margin-bottom: 4px;
    cursor: pointer;
}


p.color-checkmark::after{
    content:'\2713';
    position: absolute;
    left: 3px;
    top: -1px;
    width: 3px;
    color: white;
    font-size: 13px;
    transform: rotate(22deg);
}

.color-dropdown-arrow{ /*arrow icon*/
    padding-left: 7px;
    color:#1c1c1c;
    font-size: 10px;
    cursor: pointer;
}
#current-color{
    padding: 1px 9px;
    background-color: #BA3246;
    border-radius: 50%;

}


/*Location*/
i.fa-solid.fa-location-dot{
    padding-left: 3px;
    padding-right: 14px;
    align-self: center;
}

 #addressInput{
    padding: 6px 3px;
    border-radius: 5px;
    width: 60%;
    margin-right: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
 }
 .location{
    display: flex;
    flex-direction: row;
    margin: 0px
}
#map{
    display: none;
}

/**location buttons**/
.map-btn{
    margin-left: 3px;
    border: 1px solid #BA5E32;
    background-color: #BA5E32;;
    color: white;
    padding: 5px 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 23px -7px rgba(145, 144, 144, 0.67);
}
.map-btn:hover{
    box-shadow: 0px 1px 19px -5px rgba(145, 144, 144);
}
i.fa-solid.fa-map-location{
    align-self: center;
}

/*Save and Delete button*/
.delete-save-btn-container{
    display: flex;
    justify-content: center;
    margin-bottom: 25px; 
}
.clear-btn{
    padding: 10px 20px;
    width: 45%;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    margin-right: 7px;
    margin-left: 3px;;
    border: 1px solid #BA5E32;
    background-color: #BA5E32;
    color: white;
    cursor: pointer;
}
.save-btn{
    padding: 10px 27px;
    width: 45%;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    margin-left: 7px;
    margin-right: 3px;;
    border: 1px solid #BA5E32;
    background-color: #BA5E32;
    color: white;
    cursor: pointer;
}
.clear-btn:hover, .save-btn:hover{
    background-color: #F6C15C;
    color: white;
    border: 1px solid #F6C15C;
   /* box-shadow: 0px 2px 16px -6px rgba(0,0,0,0.75); */
   box-shadow: 0px 1px 23px -7px rgba(142, 142, 142, 0.67);
}

/****Open Form****/
.fa-plus{
    margin-left: 10px;
    padding: 5px;
}
.fa-plus:hover{
    padding: 4px;
    border-radius: 50%;
    border: 1px solid #F6C15C;
    background-color:#F6C15C;
    color: white; 
}

/***close form button***/
.fa-xmark{
    position: absolute;
    top: 6px;
    left: 10px;
    font-size: 13px;
    padding: 2px 4px;
    color:#999999;
}
/*
.fa-xmark:hover{
    padding: 2px 4px;
    border-radius: 50%;
    background-color:rgb(102, 90, 145);
    color: white;
    
}
*/


/********* EDIT TASK/EVENT CONTAINER 
.todo-edit-container{
    position: relative;
    background-color: #f4f4f4;
    border-radius: 15px;
    width: 40%;
    height: 95%;
    margin-right: 20px;
    align-self: center;
    display: none;
}
*/



/****Send button****/

/*
.fa-angles-right{
    color:rgb(102, 90, 145);
    padding: 4px 6px;
    text-align:end;
    position: inherit;
    left: 295px;
    bottom: 16px;
}

.fa-angles-right:hover{
    padding: 4px 6px;
    border-radius: 6px;
    background-color:rgb(102, 90, 145);
    color: white;

} */

